 <!-- Header para o formulario de compras!-->
        <div style="display: flexbox; flex-direction: column; flex-wrap: wrap; width: 62%;">

            <div id="lego_brick_top" style="display: flex; flex-direction: row; min-width: 100%; justify-content: space-evenly; justify-self: center;">
                <div class="lego_brick_top" style="background-color: #ff7d03; border-color: #b95b03; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"></div>
                <div class="lego_brick_top" style="background-color: #ff7d03; border-color: #b95b03;"></div>
                <div class="lego_brick_top" style="background-color: #ff7d03; border-color: #b95b03;"></div>
                <div class="lego_brick_top" style="background-color: #ff7d03; border-color: #b95b03; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"></div>
                
            </div>

            <!-- conteudo do ehader para formulario de compras-->
            <div style="background-color: #ff7d03; min-width: 100%; border-color: #b95b03; border-style: solid; border-width: 5px; text-align: center; padding-top: 2%; padding-bottom: 1%; justify-self: center;">
                <h1 style="font-family: 'Poppins'; font-size: xx-large; font-weight: 500; color: white;">Finalizar Compra!</h1>
                <!-- esta tag h1 sera preenchida dinamicamente dependendo do card produto escolhido!-->
                <h1 style="font-family: 'Poppins'; font-size: xx-large; font-weight: 500; color: white;" id="product"></h1>
                
            </div>
        </div>